{% extends 'index.html' %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>DNI</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody class="table-group-divider table-products">
        {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.dni }}</td>
                <td>{{ employee.salary }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}